[submodule "ThirdParty/googletest"]
	path = ThirdParty/googletest
	url = git@github.com:google/googletest.git
[submodule "ThirdParty/SDL"]
	path = ThirdParty/SDL
	url = git@github.com:libsdl-org/SDL.git
